body {
    font-family: "Myriad Pro", Verdana, Arial, Tahoma;
    text-align: left;
}

p {
    margin-bottom: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #737373;
}

a:hover {
    color: #08c;
}

h1 {
    color: #666;
    font-size: 2.1rem;
}

h2 {
    color: #888;
    font-size: 1.4rem;
}

#title {
    margin-top: 1.1rem;
    font-size: 1.6rem;
    color: #666;
}

#title {
    color: #ccc;
}

/* main navigation */
nav {
    max-width: 600px;
    margin: 0 auto;
}

/* sub-navigation */
.sub-nav {
    margin-top: 1.1rem;
}

@-webkit-keyframes sway {
    0% {
        -webkit-transform: rotate(0deg);
        transform-origin: 50% 75%;
    }
    33% {
        -webkit-transform: rotate(20deg);
        transform-origin: 50% 75%;
    }
    66% {
        -webkit-transform: rotate(-20deg);
        transform-origin: 50% 75%;
    } 
    100% {
        -webkit-transform: rotate(0deg);
        transform-origin: 50% 75%;
    }
}

/* footer */
footer {
    margin: 50px 0;
    text-align: center;
    
    /* love */
    span {
        display: inline-block;
        color: #f54141;
        text-shadow: 1px 1px 1px #D3C1C1;
                
        -webkit-animation-name: sway;
        -webkit-animation-duration: 0.8s;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        -webkit-animation-play-state: running;
    }
}

/* history */
#timeline-embed ul {
  list-style-type: circle;
  list-style-position: outside;
  margin-left: 1rem;

  li {
      margin-bottom: 0.6rem;
  }
}

/* samples */
div.codepen-sample {
    margin-bottom: 20px;
}

$samples-border: .09rem solid #f0f0f0;
ul.samples {
    border-top: $samples-border;
    
    li {
        list-style-type: none;
        
        a {
            display: block;
            padding: .3rem 0;
            border-bottom: $samples-border;
            
            span {
                float: right;
            }
        }
    }
}

/* resources */
$resources-border: .09rem solid #f0f0f0;
ul.resources {
    border-top: $resources-border;
    
    li {
        list-style-type: none;
        
        a {
            display: block;
            padding: .3rem 0;
            border-bottom: $resources-border;
            
            strong {
                @include resource-badge;
                display: block;
                float: left;
            }
            
            span {
                float: right;
            }
        }
    }
}

a.resource-link {
    span.badge {
        @include resource-badge;
    }
    
    code, span {
        color: #3387c4;
    }
}