---
layout: default
title: samplejs - resources
---

<div class="row">
    <div class="large-12 columns">
        <h1>resources</h1>
        {% assign sorted_pages = site.categories['samples'] | sort:"date" %}
        {% for sample in sorted_pages %}
            <h2>{{ sample.title }}</h2>
            <ul class="resources clearfix">
                {% for resourceid in sample.resources %}
                    {% for resource in site.categories['resources'] %}
                        {% if resource.resourceid == resourceid %}
                            <li>
                                <a href="{{ resource.link }}"><strong>{{ resource.type }}</strong>{{ resource.title }} <span class="show-for-medium-up">{{ resource.source }}</span></a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
</div>