---
layout: default
title: samplejs - resources
---

<div>
    <h1>resources</h1>    
    {% for sample in site.categories['samples'] %}
        <h2>{{ sample.title }}</h2>
        {% for resourceId in sample.resources %}            
            {% for resource in site.categories['resources'] %}                   
                {% if resource.resourceid == resourceId %}
                    <p>{{ resource.title }} <small>{{ resource.type }}</small></p>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
</div>