---
layout: default
---

<div class="row">
    <div class="large-12 columns">
        <h1>{{ page.title }}</h1>
        {% for codepen in page.codepens %}
            <div class="codepen-sample">
                <p data-height="268" data-theme-id="0" data-slug-hash="{{codepen.slug}}" data-default-tab="js" class='codepen'>See the Pen <a href='http://codepen.io/samplejs/pen/{{codepen.slug}}/'>{{codepen.title}}</a> by samplejs (<a href='http://codepen.io/samplejs'>@samplejs</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
    <script async src="http://codepen.io/assets/embed/ei.js"></script>            
            </div>
        {% endfor %}
        <!--{{ content }}
        {% for pageResource in page.resources %}    
            {% for resource in site.categories['resources'] %}        
                {% if resource.resourceid == pageResource %}
                    <p>{{ resource.title }}</p>
                {% endif %}
            {% endfor %}  
        {% endfor %}-->
    </div>
</div>